#tagarea {
    width: 90%;
    margin: 20px auto;
    text-align: center;
}

.tags {
    border-radius: 25px;
    background: #0086F1;
    color: white;
    width: 100px;
    height: 25px; 
    text-align: center;
    padding-top: 5px;
    display: inline-block;

    margin: 5px;
    cursor: pointer;
}

#gifarea{
    width: 80%;
    margin: 20px auto;
    display: block;
}

#formarea {
    width: 330px;
    margin: 20px auto;
    display: block;

}

#giftext{
    width: 100px;
}

h1 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
}

#submit{
    background: #0086F1;
    color: white;
    width: 100px;
    height: 25px;
    border-radius: 25px;
    padding-top: 5px;
    margin-top: 10px;
}

#btn-holder{
    width: 150px;
    margin: 0 auto;
    display: none;
}

#center {
    width: 150px;
    margin: 0 auto;
}

#more {
    background: #0086F1;
    color: white;
    width: 150px;
    height: 40px;
    padding-top: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.cont {
    display: inline-block;
    width: 200px;
    margin: 5px;  
}

img {
    display: block;
    width: 200px;
}

.btn{
    display: inline-block;
    width: 49%;
    height: 30px;
    border-radius: 25px;
    font-size: 12px;
}

.one-line {
    display: inline-block;
}

@media screen and (max-width: 1070px) {
    #gifarea {
        width: 630px;
    }
}

@media screen and (max-width: 700px) {
    #gifarea {
        width: 420px;
    }
}

@media screen and (max-width: 450px) {
    #gifarea {
        width: 210px;
    }
}